.root {
  margin: 0 auto;
}

.header {
  background: var(--brand-color);
  height: 45vh;
  padding: 32px 16px;
  color: #ccc;
}

.section {
  max-width: 400px;
  margin: 0 auto;
}

.heading {
  display: flex;
  flex-direction: column-reverse;
  height: 80%;
  justify-content: space-between;
  padding: 0 16px;
  & a:link,
  & a:visited,
  & a:hover,
  a:active {
    color: var(--brand-color-invert);
  }
}

.buttons {
  background: white;
  border-radius: 8px;
  padding: 32px;
  margin: -40px 16px 16px;
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
  font-size: 32px;
  margin: 8px 0 8px;
  color: white;
}

.socialButton {
  border: 0;
  background: transparent;
  border-radius: 4px;
  padding: 16px 16px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: bold;
  text-align: center;

  & > svg {
    margin-right: 8px;
    width: 25px;
  }
  & > span {
    text-align: center;
    flex: 1 1 auto;
  }
  & + .socialButton {
    margin-top: 24px;
  }
}

.facebook {
  background: #1877f2;
}

.apple {
  background: black;
}

.google {
  color: black;
  background: #fff;
  box-shadow: 0px 2px 6px 0px #ccc;
}
