.root {
  padding-bottom: 64px;
  & > * + * {
    margin-top: 24px;
  }

  address {
    font-size: 14px;
    margin-top: 1em;
  }
}

.pageTitle {
  font-size: 24px;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.banner {
  background: #eaf8ef;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 12px 16px;
  & > p {
    margin: 0;
    margin-right: 1px;
    text-align: center;
    margin-left: 24px;
    font-size: 15px;
  }
}

.total {
  margin-bottom: 24px;
  background: rgba(255, 255, 255, 0.4);
  padding: 24px 32px 10px;
  & > div {
    display: flex;
    justify-content: space-between;
  }
}

.address {
  display: flex;
  padding: 0 16px;
  & > svg {
    margin-right: 24px;
    width: 60px;
  }
}

.addressChange {
  background: #ffa033;
  color: white;
  border: 0;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 4px;
  margin-top: 16px;
}

.checkout {
  background: var(--cta-color);
  border: 0;
  color: white;
  text-align: center;
  display: block;
  padding: 16px;
  border-radius: 8px;
  font-weight: bold;
  position: fixed;
  bottom: 24px;
  width: 100%;
  max-width: 385px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > span {
    text-align: center;
  }
}

.hr {
  border: 0;
  border-bottom: 1px solid #fde8dd;
  margin: 16px -32px 16px -32px;
}

.noProduct {
  text-align: center;
}

.empty {
  background: var(--cta-color);
  border: 0;
  color: white;
  text-align: center;
  display: block;
  padding: 16px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  max-width: 300px;
  margin: 24px auto;
}

.inner {
  margin: 2em;
}

.addressButton {
  text-align: left;
  border: 0;
  background: #fef6ed;
  padding: 1.5em;
  border-radius: 0.5em;
  margin: 1em 0;
  width: 100%;
  & > p {
    margin: 0;
  }
  &:disabled {
    opacity: 0.2;
  }
  &:hover {
    background: #ececec;
  }
}
.addressForm {
  display: flex;
  flex-direction: column;
  & > div {
    display: flex;
    justify-content: space-between;
    & > * {
      flex: 0 1 48%;
    }
  }
  & input {
    font-size: 16px;
    border-radius: 0.5em;
    border: 0;
    margin-top: 1em;
    padding: 1em;
    background-color: #f1f1f1;
    width: 100%;
  }
  h6 {
    font-weight: bold;
  }
}

.number {
  flex: 0 0 100px;
}

.phone {
  flex: 1 1 auto;
  margin-left: 1em;
}

.newAddress {
  border: 0;
  background: var(--cta-color);
  color: var(--cta-color-invert);
  font-size: 100%;
  border-radius: 0.5em;
  padding: 1em 0.5em;
}
.divider {
  border: 0;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 1em;
}
.addressCopy {
  font-size: 14px;
  margin-top: 0.5em;
  color: #727272;
}
.noAddress {
  background: #ffdfda;
  color: #9e311f;
  padding: 1em 2em;
  margin-bottom: 24px;
  border-radius: 0.5em;
  font-size: 14px;
}

.error {
  color: #9e311f;
  font-size: 13px;
  margin-top: 0.5em;
}
.greetings {
  font-weight: bold;
  margin-bottom: 24px;

  & > span {
    font-weight: normal;
    display: inline-block;
    margin-bottom: 4px;
  }
}
