:root {
  // Brand
  --brand-color: #0d4137;
  --brand-color-invert: #fff;

  --body-color: #0d4137;

  --cta-color: #f28100;
  --cta-color-invert: #fff;
  --cta-color-remove: #5c29ce;

  --bg-color: #fde8dd;
}
