.root {
  background: var(--brand-color);
  color: var(--brand-color-invert);
  height: 6em;
  position: fixed;
  top: 0;
  transition: height 0.3s;
  width: 100%;
  z-index: 1;

  & a:link,
  & a:visited,
  & a:hover,
  & a:active {
    color: inherit;
  }
}

.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1000px;
  padding: 0.5em 1em;
}

.middle {
  flex: 1 0 auto;
  text-align: center;
}

.left,
.right {
  flex: 0 0 4em;
  position: relative;
}

.noSearch {
  height: 4em;
}

.cart {
  display: flex;
  justify-content: flex-end;
  padding: 0.5em 0;
}

.badge {
  position: relative;

  & > span {
    background: var(--cta-color);
    border-radius: 100%;
    color: var(--cta-color-invert);
    font-size: 0.875em;
    font-weight: bold;
    height: 2em;
    line-height: 2em;
    position: absolute;
    right: 2em;
    text-align: center;
    top: -1px;
    width: 2em;
  }
}

.search {
  position: fixed;
  top: 92px;
  width: 100%;
  padding: 0 16px;
  max-width: 1000px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.searchField {
  font-size: 1em;
  border: 0;
  padding: 15px 24px;
  background: var(--brand-color-invert);
  width: 100%;
  border-radius: 50px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3);
  color: var(--brand-color);
  outline-width: 0;
  transition: box-shadow 0.3s ease-in-out;

  &:focus {
    box-shadow: 0px 1px 6px 2px rgba(0, 0, 0, 0.3);

    & + .searchIcon {
      color: var(--body-color);
    }
  }
}

.searchIcon {
  position: inherit;
  right: 40px;
  top: calc(50% - 17.5px / 2);
  color: #ccc;
  transition: color 0.3s ease-in-out;
}